<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @email_subject %></h1>
    <p>
      We love you are considering our products for your next purchase<br>
    </p>
    <p>
      <%= @content %> .
    </p>
    <p>Have a great day!</p>
  </body>
</html>
